---
import BrandLogo from "./BrandLogo.astro";
import Container from "./Container.astro";
import { button } from "@tailus/themer-button";
import { cn } from "@lib/utils";
import Frame from "./Frame.astro";

const links = [
  {
    to: "/#home",
    label: "Product",
  },
  {
    to: "/#examples",
    label: "Examples",
  },
];
---

<header>
  <nav class="absolute z-50 w-full lg:bg-transparent dark:lg:bg-transparent">
    <Container>
      <div
        class="relative flex items-center justify-between gap-6 py-6 md:gap-0 lg:py-8"
      >
        <div
          class="relative z-20 flex items-center justify-between md:px-0 lg:w-max"
        >
          <BrandLogo />
        </div>
        <div
          id="navLayer"
          aria-hidden="true"
          class="fixed inset-0 z-10 h-screen w-screen origin-bottom scale-y-0 bg-white/70 backdrop-blur-2xl transition duration-500 dark:bg-gray-900/70 lg:hidden"
        >
        </div>
        <div id="navlinks" class="flex gap-6 items-center w-fit">
          <div class="hidden lg:fixed lg:inset-x-0 lg:size-fit lg:m-auto">
            <Frame>
              <div class="relative w-full text-gray-600 dark:text-gray-300">
                <ul
                  class="flex flex-col gap-6 tracking-wide lg:flex-row lg:gap-0 lg:text-sm"
                >
                  {
                    links.map((link) => (
                      <li>
                        <a
                          href={link.to}
                          class="px-2 py-1 hover:bg-gray-950/5 hover:text-gray-950 rounded-[--btn-border-radius] block transition dark:hover:text-white md:px-4 dark:hover:bg-white/5"
                        >
                          <span>{link.label}</span>
                        </a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </Frame>
          </div>
          <a
            href="https://github.com/tusharsadhwani/packaged"
            class={cn(button.neutral.sm, "w-full md:w-fit")}
          >
            Get Started
          </a>
        </div>
      </div>
    </Container>
  </nav>
</header>
